darknet/
corrupt/
data/
OIDv4_ToolKit/
files/yolov4.conv.137
files/articles.pkl
files/df_articles-images.pkl
files/df_images-colours.pkl
files/images.csv
files/tmp/
dezeenAI
classes.gsheet

files/df_articles.csv
files/df_articles-images.pkl
files/df_articles-images-downloaded.csv
files/df_images-colours.pkl